.header {
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.082);

}

.header__container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 50px;
}